// 
// Tiny Tabs
//

$tinytabs-close-padding: 0 0 0 5px;
$tinytabs-selected-tab-bg: #f1f1f1;
$tinytabs-selected-tab-text-color: #333;
$tinytabs-tab-section-bg: #000;
$tinytabs-tab-section-padding: 1rem;
$tinytabs-tab-section-radius: 3px;
$tinytabs-bottom-border: 5px solid rgba(#000, .4);

.tinytabs {

  // tabs
  .tabs {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;  
    margin: 0 0 2rem 0;
    // border-bottom: $tinytabs-bottom-border;

    &:after {
      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 0;
      display: block;
      content: "";
      height: 1.5rem;
      width: 105%;
      transform: translateX(-50%);
      background: linear-gradient(to bottom, rgba(#000, .15), rgba(#000, 0));
    }
  }

  // individual tab
  .tab {
    position: relative;
    z-index: 1;
    display: block;
    text-decoration: none;
    font-family: $base-font-family;
    font-weight: $fw-medium;
    font-size: 1.2rem;
    color: #fff;
    background-color: rgba(#000, .4);
    margin: 0 .5rem;
    padding: .25rem 2.25rem;
    border-radius: 5px 5px 0 0;
    transition: background 250ms ease, color 250ms ease;

    &:hover {
      text-decoration: underline;
    }

    &:after {
      $i: .8rem;

      position: absolute;
      top: 100%;
      left: 50%;
      z-index: 0;
      content: "";
      display: block;
      width: 0;
      height: 0;
      transition: opacity 250ms ease;
      opacity: 0;
      transform: translateX(-50%) translateY(calc(100% - #{$i}));
      border-left: $i solid transparent;
      border-right: $i solid transparent;
      border-top: $i solid $green-base;
    }

    > * {
      padding: 0;
      margin: 0;
      font-weight: inherit;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
    }

    // tab close button (not in use)
    .close {
      padding-left: $tinytabs-close-padding;
    }

    // selected tab
    &.sel {
      background-color: $green-base;
      // border-bottom: 5px solid $green-base;
      // margin-bottom: -5px;

      &:after {
        opacity: 1;
      }
    }
  }

  // tab content section
  .section {
    // background: $tinytabs-tab-section-bg;
    overflow: hidden;
    // padding: $tinytabs-tab-section-padding;
    clear: both;
    // border-radius: $tinytabs-tab-section-radius;
    font-size: .85rem;
    // border-bottom: $tinytabs-bottom-border;
    // padding-bottom: 1rem;

    a {
      color: inherit;
      font-weight: $fw-bold;
      color: $green-base;
      // text-decoration: underline;
    }

    .steps-items__content > li:not(:last-of-type) {
      margin-bottom: 1rem;
    }

    // code blocks
    div[class*="language"] {
      background-color: darken($color-6, 8);
    }

    // hide the line numbers on code blocks
    .line-numbers-mode:after,
    .line-numbers-wrapper {
      display: none !important;
    }

    .line-numbers-mode pre {
      padding: 1rem !important;
      // making these code blocks wrap so that they
      // more responsive
      white-space: pre-wrap !important;
      // @include scrollbar-h;
    }

    .steps-items__content {

      > li {
        align-items: flex-start;

        > div > h3:first-of-type {
          font-size: 1.1rem;
          margin-top: 0;
          padding-top: 0;
        }
      }
    }
  }
}
